<%- include('globals/head') %>

<main class="fluid-container">
    <h1 class="page-title"><%= title %></h1>
    <ul>
        <% sets.forEach(function(set) { %>
            <li><%= set.name %></li>
        <% }); %>
    </ul>
</main>

<% if (pagination) { %>
    <%- include('pagination') %>
<% } %>

<%- include('globals/footer') %>
